@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

input,
textarea,
button,
select,
li,
ul,
a {
    -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a5be2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 600px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  position: relative;

  @media (max-width: 400px) {
    width: 300px;
    font-size: 10px;
    padding: 30px;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    height: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }
}
